<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ememerald</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- style from bootstrap used-->
    <link rel="icon" href="./icon.png">

  <style>
        #profilepic{
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-top: 5px;
      }
	  #logo{
		height:45px;
		width:45px;
	  }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
      body {
      padding-top: 50px;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 9000px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: lightgray;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
      #most-recent{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      #most-liked{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      #trending{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      .well{
      font-size: 22px;
      border-width: 5px;  
      }
		  
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
      #meme{
          height: 350px;
          width: auto;
      }
      #memeblockstyle{
        border: 1px solid gray;
        padding: 5px 20px;
        background-color: whitesmoke;
      }
      #memeblockstyle h1{
        margin-left: 5px;
      }
      #memeblockstyle center{
        border-radius: 25px;
        margin-left: 5px;
        border: 1px solid lightgray;
      }
      #memeblockstyle p{
        margin-left: 5px;
      }
  </style>
</head>
<body>
<% if(username){ %>
    <%- include loggedNavBar.ejs%>
<% } else { %>
    <%- include unloggedNavBar.ejs%>
<%    } %>
<div class="container">
  <div class="jumbotron">
      <% for(var i=0;i<data.list.length;i++){ %>
          <% if(username){ %>
            <%if(data.list[i].memePrivacy == 'Public' || username == data.list[i].memeOwner){ %>
                      <div id="memeblockstyle">
                      <h1><%= data.list[i].memeTitle %></h1>
                      <center><p><img src="/new/<%= data.list[i].memeImage %>" id="meme"></p></center>    
                      <h3>Posted by <a href='/user-profile/<%=data.list[i].memeOwner%>'><%= data.list[i].memeOwner %></a></h3>
                      <p>on: <%= data.list[i].memeTime %>></p>
                      <p><strong>Tags:</strong> <%= data.list[i].memeTag %></p>
                      <p><strong>Likes:</strong> <%= data.list[i].likers.length %></p>
                      <form action = '/memeCall/<%=data.list[i]._id%>' >
                        <input type = 'submit' value = 'View Meme'>
                      </form>
                      </div>
                      <hr>
                      <!-- username == data.list[i].memeShare.includes(username) -->
                      <% }else if(data.list[i].memePrivacy == 'Private' && data.list[i].memeShare.includes(username)){%>
                        <div id="memeblockstyle">
                          <h1><%= data.list[i].memeTitle %></h1>
                          <center><p><img src="/new/<%= data.list[i].memeImage %>" id="meme"></p></center>    
                          <h3>Posted by <a href='/user-profile/<%=data.list[i].memeOwner%>'><%= data.list[i].memeOwner %></a></h3>
                          <p><strong>Tags:</strong><%= data.list[i].memeTag %>></p>
                          <form action = '/memeCall/<%=data.list[i]._id%>' >
                              <input type = 'submit' value = 'View Meme'>
                          </form>
                          </div>
                          <hr>
                        <%}%>
            <% } else { %>
              <%if(data.list[i].memePrivacy == 'Public' || username == data.list[i].memeOwner){ %>
                      <div id="memeblockstyle">
                      <h1><%= data.list[i].memeTitle %></h1>
                      <center><p><a href='/inaccessible-meme'><img src="/new/<%= data.list[i].memeImage %>" id="meme"></a></p></center>
                      <h3>Posted by <a href='/inaccessible-meme'><%= data.list[i].memeOwner %></a></h3>
                      <p><strong>Tags:</strong><%= data.list[i].memeTag %></p>
                      </div>
                      <hr>
                      <% }%>
            <%  } %>
      <% } %>
      </div>
    </div>
</body>
</html>