<base href="/">
<html>
<head>
    <title>Meme</title>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script>
        //    var commentClass = function(comment,user){
        //        this.comment = comment;
        //        this.user = user;
        //    }

        //    var list = [
        //        new commentClass("henlo","salcy"),
        //        new commentClass("hi","joshy"),
        //        new commentClass("tite","testy"),
        //    ];
        //    function addComment(){
        //        const comment = text(document.forms['enterComment'][''].value);
        //        console.log(comment);
        //        var allContent = '<div class="quarter">'+
        //            '<div>Comment</div>'+
        //            '<div>User</div>'+
        //        for(var i=0;i<list.length;i++){
        //                const divContent = '<div class="quarter">'+
        //                    '<div>'+list[i].comment+'</div>'+
        //                    '<div>'+list[i].user+'</div>';
        //                allContent += divContent;
        //        }//for
               
	    //        document.getElementById('comment-list').innerHTML = allContent;
        //    }
   
        </script>

        <style>
                .memeimage{
                    width: 80%;
                    max-width: 960px;
                    margin: 0 auto;
                }
                .field_set{
                        border: #FF00 3px solid;
                }
                #profilepic{
                    border-radius: 50%;
                    height: 35px;
                    width: 35px;
                    margin-top: 5px;
                  }
                  #logo{
                    height:45px;
                    width:45px;
                  }
                /* Remove the navbar's default margin-bottom and rounded borders */ 
                .navbar {
                  margin-bottom: 0;
                  border-radius: 0;
                }
                  body {
                  padding-top: 50px;
                }

                /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
                .row.content {height: 800px}

                /* Set gray background color and 100% height */
                .sidenav {
                  padding-top: 20px;
                  background-color: lightgray;
                  height: 100%;
                }

                /* Set black background color, white text and some padding */
                footer {
                  background-color: #555;
                  color: white;
                  padding: 15px;
                }
                  #most-recent{
                      font-size: 22px;
                      margin-left: 0;
                      text-align: left;
                  }
                  #most-liked{
                      font-size: 22px;
                      margin-left: 0;
                      text-align: left;
                  }
                  #trending{
                      font-size: 22px;
                      margin-left: 0;
                      text-align: left;
                  }
                  .well{
                  font-size: 22px;
                  border-width: 5px;  
                  }
            center img{
                padding: 10px;
            }


                /* On small screens, set height to 'auto' for sidenav and grid */
                @media screen and (max-width: 767px) {
                  .sidenav {
                    height: auto;
                    padding: 15px;
                  }
                  .row.content {height:auto;} 
                }
                  #meme{
                      height: 350px;
                      width: auto;
                  }
                  #memeblockstyle{
                    border: 1px solid gray;
                    padding: 5px 20px;
                    background-color: whitesmoke;
                  }
                  #memeblockstyle h1{
                    margin-left: 5px;
                  }
                  #memeblockstyle center{
                    border-radius: 25px;
                    margin-left: 5px;
                    border: 1px solid lightgray;
                  }
                  #memeblockstyle p{
                    margin-left: 5px;
                  }
            full{
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            max-width: 100%;
            max-height: 100%;
            margin: auto;
            overflow: auto;
            }
            input[type=checkbox] {
                height:17px;
                width: 17px;    
           /* For mobile, it's typically better to position checkbox on top of clickable
              area and turn opacity to 0 instead. */
        }
            .container-fluid text-cente label{
                font-size: 45px;
            }
            #comments{
                padding: 20px;
                background-color: whitesmoke;
                border: 1px solid gray;
            }
            #user{
                font-size: 10px;
            }
            #commentcontent{
                font-size: 20px;               
            }
        </style>
</head>
<body>
    <% if(username){ %>
        <%- include loggedNavBar.ejs%>
    <% } else { %>
        <%- include unloggedNavBar.ejs%>
    <%    } %>

    <div class="jumbotron">
        <% if(username == memeOwner){%>
        <form method = 'post' action = '/edit' id = 'edit' enctype="multipart/form-data">
            <input type = 'hidden' value = '<%=memeID%>' name = 'memeID'>
        <center><img src="/new/<%=memeImage%>" height="300px" width="450px"></center><br>
           <label>Change picture here : </label> <input type="file" id="image" name="image"'><br>
       <label> Change Title Here:  </label><input type = text name = 'memeTitle' value =  '<%=memeTitle%>'>
    <p>Posted by: <a href = '/user-profile/<%=memeOwner%>'><%=memeOwner%></a></p>
            <label>Edit Post Privacy Here: 
                <% if(memePrivacy == 'Public') { %>
            </label><label class="radio-inline"><input type="radio" style = "border-width: 5px;" name = "memePrivacy"id = "public" value='Public' checked>Public 
            </label><label class="radio-inline"><input type="radio" name = "memePrivacy"  value='Private'id = 'private' >Private </label>
                <% } else{ %>
                </label><label class="radio-inline"><input type="radio" style = "border-width: 5px;" name = "memePrivacy"id = "public" value='Public'>Public 
                </label><label class="radio-inline"><input type="radio" name = "memePrivacy"  value='Private'id = 'private' checked>Private </label>
                <%}%>
            <p>Edit meme tags:</p>
            <!-- <textarea rows="2" cols="45" name = 'memeTag' form = 'edit' value =  '<%=memeTag%>'></textarea> <br>  -->
            <input type = 'text' name = 'memeTag' value = '<%=memeTag%>' style = 'height:50px; width:300px;'><br>
  
            <input type = 'submit' value = 'Edit Post'>
                </form>
            <form method = 'post' action = '/delete' enctype = "multipart/form-data">
                    <input type = 'hidden' value = '<%=memeID%>' name = 'memeID'>
                    <input type = 'submit' value = 'Delete Post'>
            </form>
        <% } else { %>
        <center><img src="/new/<%=memeImage%>" class = 'memeimage'></center>
        <input type = 'hidden' value = '<%=memeID%>' name = 'memeID'>
    <p>Posted by: <a href = '/user-profile/<%=memeOwner%>'><%=memeOwner%></a></p>
      <p>Post is :<label class="radio-inline"><input type="radio" style = "border-width: 5px;" name = "privacy"id = "public" value='Public' checked disabled>Public </label><label class="radio-inline"><input type="radio" name = "privacy"  value='Private'id = 'private' disabled>Private </label></p>
            <textarea rows="2" cols="45" name = 'memeTag' form = 'upload' placeholder = 'Current tags are : <%=memeTag%>' disabled = 'true'></textarea>
            <br>
            <br>
            <br>
        <% } %>

            <!-- <form method="post" enctype="multipart/form-data"> -->
            <!-- <div> -->
                <!--Put shared users here-->
            <!-- </div> -->
                <!-- <br> -->
            <!-- <span style = "display:inline;"> -->
                <form action='/likedMeme' method="post" enctype = "multipart/form-data">
                    <input type = 'hidden' value = '<%=memeID%>' name = 'memeID'>
                    <input type = 'submit' value= 'Like Meme'>
                </form>
        <div id="comments">
            Comments:
            <div id="comment-list">
                <hr>
                <div class="quarter">
                    <% for(let i = 0;i<data.list.comment.length;i++){ %>
                    <div id="commentcontent"><%=data.list.comment[i].commentDesc%></div>
                    <div id="user">commented by <%=data.list.comment[i].commentOwner%></div>
                    <hr>
                    <%  } %>
                
                </div>
                <hr>
            </div>
            
            <form action='/add-comment' id="addcomment" method="post" enctype="multipart/form-data">
                <input type = 'hidden' value = '<%=memeID%>' name = 'memeID'>
                <textarea name="comment" id="comment" form = 'addcomment'>
                </textarea>
                <input type="submit" value="Comment">
            </form>
        </div>
</body>
</html>