<!DOCTYPE html>
<html>
<head>
        <link rel="icon" href="./icon.png">
    <title>Ememerald</title>
    <link rel="stylesheet" href="./stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- style from bootstrap used-->
    <script type="text/javascript">// <![CDATA[
    function ShowHide(divId)
    {
    if(document.getElementById(divId).style.display == 'none')
    {
    document.getElementById(divId).style.display='block';
    }
    else
    {
    document.getElementById(divId).style.display = 'none';
    }
    }
    // ]]></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1800px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: lightgray;
      height: 100%;
    }
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }
    #most-recent{
      font-size: 22px;
      border-width: 5px;
      text-align: left;
      }
    #most-liked{
      font-size: 22px;
      border-width: 5px;
      text-align: left;  
      }
    #trending{
      font-size: 22px;
      border-width: 5px;
      text-align: left;  
      }
    .well{
      font-size: 22px;
      border-width: 5px;  
      }
    
    /* Set black background color, white text and some padding */
    body {
      padding-top: 50px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
     #profilepic{
        border-radius: 50%;
        height: 35px;
        width: 35px;
        margin-top: 5px;
      }
     .profilepic{
        border-radius: 50%;
        height: 100px;
        width: 100px;
        margin-top: 5px;
        background-color: aliceblue;    
      }
      .img-responsive{
          height:150px;
          width: 200px;
      }
  </style>
</head>
<body>

<% if(username){ %>
    <%- include loggedNavBar.ejs%>
<% } else { %>
    <%- include unloggedNavBar.ejs%>
<%    } %>
<div class="container">
    <div class="jumbotron"> 
      <img src = '/new/<%=image%>' class = 'profilepic'>
        <br>
        <h3>Change Profile Picture:</h3>
        <input type="file" id="files" name="files" multiple="multiple"/>
        <button onclick = "location.href = './user-profile.html'"><strong>Upload new profile picture</strong></button>
      <h1>Username:</h1>
      <h3><%=userProfile%></h3>
      <hr>
      <h1>E-mail:</h1>
      <h3><%=email%></h3>
      <hr>
      <h1>Bio:</h1>
      <h3><%=shortBio%></h3>
      <hr>
      <input type="button" value="Edit user info" name="edit">
        <div class="container-fluid bg-3 text-center">    
  <h3>Recent memes:</h3><br>
  <div class="row">
      <% for(var i=0;i<data.list.length;i++){ %>
          <% if(username){ %>
                      <div id="memeblockstyle">
                      <h1><%= data.list[i].memeTitle %></h1>
                      <p><a href='/memeCall/<%=data.list[i]._id%>'><img src="/new/<%= data.list[i].memeImage %>" height='300px' width='450px'></a></p>
                      </div>
                      <hr>
            <% } else { %>
                      <div id="memeblockstyle">
                      <h1><%= data.list[i].memeTitle %></h1>
                      <p><a href='/inaccessible-meme'><img src="/new/<%= data.list[i].memeImage %>" id="meme"></a></p>
                      </div>
                      <hr>
            <%    } %>
      <% } %>
            </div>
        </div>
    </div>
  </div>
</body>
</html>